.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  /* background-color:black;  */
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231027/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */

}

.sign-up-container {
  width: 341px;
  height: 384px;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 20px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
}

.sign-up-container1 {
  width: 360px;
  height: 445px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); 
  border-radius: 20px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
}

.sign-up-container2 {
  width: 341px;
  height: 298px;
  background-color: rgba(255, 255, 255, 0.2); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 20px; /* Rounded corners for the glass effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: border with opacity */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow for depth */
}


.sign-up-form {
  padding: 20px; 
  
}

.field-label {
  color: white;
  font-family: 'Roboto', ; /* Apply 'Roboto' font */
  font-size: 16px; /* Adjust font size as needed */
}

/* CSS styles for field inputs */
.field-input {
  color: white;
  font-family: 'Roboto', ; /* Apply 'Roboto' font */
  font-size: 16px; /* Adjust font size as needed */
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background with opacity */
  border: none; /* Remove default input border */
  border-bottom: 1px solid white; /* Add bottom border */
  padding: 8px 10px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Add margin at the bottom for spacing */
}

/* Additional CSS styles for other elements can be added here */
.forgot-password, .create-account, .sign-up-link {
  color: white;
  font-family: 'Roboto', ; /* Apply 'Roboto' font */
  text-decoration: none; /* Remove underline */
  margin-top: 10px; /* Add margin at the top for spacing */
  display: block; /* Display elements as blocks */
}

/* Hover styles for links */
.forgot-password:hover, .create-account:hover, .sign-up-link:hover {
  text-decoration: underline; 
  opacity: 0.8; /* Reduce opacity on hover */
}


label{
  display:block;
  margin-bottom: 8px;
}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button{
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color:#fff;
  border: none;
  border-radius: 4px;
  cursor: poRoboto;
}

button:hover{
  background-color: #2980b9;
}


